<nav class="grid">
    <div class="container">
        <div class="logo">
            <span><a href="/"><h2>Solomon's</h2></a></span>
        </div>
        <div class="ham-menu">
            <div class="ham-layer ham-layer-left"></div>
            <div class="ham-layer ham-layer-right"></div>
        </div>
        <div class="nav-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/shop" class="nav-link">Shop</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
    </div>
</nav>