// variables

// colours
$dark: #121212;
$light: #fff;
$secondary: #f0f0f0;
$accent: #ffbc3a;
$watermark: #f1f1f1;
// font sizes
$ff-xxl: 21em;
$ff-xl: 2.2em;
$ff-l: 1.6em;
$ff-body: .99em;
$ff-sm: .9em;
$ff-xsm: .8em;
// font weights
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
// font families
$f-heading: 'Playfair Display', sans-serif;
$f-body: 'Open Sans', sans-serif;
