<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | About</title>
</head>
<body>
    <header class="header-minor">
        <%- include('./partials/nav') %>
        <div class="hero-grid grid">
            <div class="hero hero-minor">
                <h3 class="caption">This is us</h3>
                <h1 class="title">About</h1>
            </div>
        </div>
    </header>

    <section id="story" class="grid">
        <div class="water-mark">
            <h1 class="title">Solomons</h1>
            <h1 class="title">Solomons</h1>
            <h1 class="title">Solomons</h1>
        </div>
        <div class="container bg-accent">
            <div class="section-heading">
                <h3 class="caption">Who are we</h3>
                <h2 class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda?</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nisi aspernatur ipsa veritatis. Atque, saepe fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempora odio rerum voluptas, at laboriosam voluptatibus esse odit commodi. Velit, blanditiis eveniet.</p>
        </div>
    </section>

    <section id="sourcing" class="full grid">
        <div class="container-full">
            <div class="two-part">
                <div class="banner-txt bg-accent">
                    <div class="section-heading">
                        <h3 class="caption">Where do we get our honey</h3>
                        <h2 class="sub-title">Sourcing</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nisi aspernatur ipsa veritatis. Atque, saepe fugit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempora odio rerum voluptas, at laboriosam voluptatibus esse odit commodi. Velit, blanditiis eveniet.</p>
                </div>
                <div class="banner-img"><img src="../public/assets/jars.jpg" alt=""></div>
            </div>
        </div>
    </section>

    <section id="sourcing" class="full grid">
        <div class="container-full">
            <div class="two-part">
                <div class="banner-img"><img src="../public/assets/jars.jpg" alt=""></div>
                <div class="banner-txt bg-accent">
                    <div class="section-heading">
                        <h3 class="caption">Lorem ipsum dolor</h3>
                        <h2 class="sub-title">Sourcing</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nisi aspernatur ipsa veritatis. Atque, saepe fugit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempora odio rerum voluptas, at laboriosam voluptatibus esse odit commodi. Velit, blanditiis eveniet.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!--footer-->
    <%- include('./partials/footer') %>

    <!--scripts-->
    <%- include('./partials/scripts'); %>
</body>
</html>