<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | Shop </title>
</head>
<body>
    <header class="header-minor">
        <%- include('./partials/nav') %>
        <div class="hero-grid grid">
            <div class="hero">
                <h3 class="caption">shop</h3>
                <h1 class="title">My Cart</h1>
            </div>
        </div>
    </header>

    <section id="cart" class="grid">
        <div class="container">
            <div class="cart-grid">
                
            </div>
            
            <div class="cart-total">
                <div class="cart-total-txt">
                    <p>Total</p>
                    <h2 class="sub-title">Ksh. 450</h2>
                </div>
                    
                <div class="cart-total-controls">
                    <a class="btn cta" href="/checkout">Checkout</a>
                </div>
            </div>
                
        </div>
    </section>

    <%- include('./partials/footer') %>

    <!--scripts-->
    <script>
        let cartGrid = document.querySelector('.cart-grid');

        window.onload = async (e) => {
            let url = '/getCartItems';
            let response = await fetch(url);
            let data = await response.json();
            console.log(data.cartItems);

            data.cartItems.forEach(cartItem => {
                // console.log(cartItem.Id);\
                let item = `
                    <div class="cart-item-txt">
                        <div class="cart-item-txt-about">
                            <p>${cartItem.Title}</p>
                            <h2 class="sub-title">Ksh. ${cartItem.Unit_Price}</h2>
                        </div>
                            
                        <div class="card-item-txt-controls">
                            <div class="quantity">
                                <button class="cta" onclick="decrementCartItem('${cartItem.Id}')">-</button><span class="quantityNumber">1</span><button class="cta" onclick="incrementCartItem('${cartItem.Id}')">+</button>
                            </div>
                            <button class="btn cta" onclick="removeFromCart('${cartItem.Id}')">Remove</button>
                        </div>
                    </div>            
                `;
                cartItemm = document.createElement("div");
                cartGrid.appendChild(cartItemm);
                cartItemm.classList.add('cart-item');
                cartItemm.innerHTML = item;
            });
        }

        let removeFromCart = async (itemId) => {
            let url = '/removeFromCart';
            let data = { itemId };
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                mode: 'same-origin',
                body: JSON.stringify(data)
            });
            let res = await response.json();
            let itemName = res.rowTitle;
            let cartItems = document.querySelectorAll('.cart-item');
            cartItems.forEach(cartItem => {
                if(cartItem.children[0].children[0].children[0].innerHTML == itemName){
                    cartItem.style.display = 'none';
                }
            })
            console.log(res);
        }

        let decrementCartItem = async(itemId) => {
            {// let url = '/DecrementCartItem';
            // let data = {itemId};
            // let options = {
            //     method: 'POST',
            //     Headers: {
            //         'Content-Type': 'Application/json'
            //     },
            //     body: JSON.stringify(data)
            // }
            // let response = await fetch(url, options);
            // let json = response.json();
            // console.log(json);
            }
            let number = document.querySelector('quantityNumber');
            number--; 
        }

        let incrementCartItem = async(itemId) => {
        {
            let url = '/DecrementCartItem';
            let data = {itemId};
            let options = {
                method: 'POST',
                Headers: {
                    'Content-Type': 'Application/json'
                },
                body: JSON.stringify(data)
            }
            let response = await fetch(url, options);
            let json = response.json();
            console.log(json);
        }
            let number = document.querySelector('quantityNumber');
            number++; 
        }
    </script>
    <%- include('./partials/scripts'); %>
</body>
</html>