<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | Contact</title>
</head>
<body>
    <header class="header-minor">
        <%- include('./partials/nav') %>
        <div class="hero-grid grid">
            <div class="hero hero-minor">
                <h3 class="caption">Reach out to us</h3>
                <h1 class="title">Contact</h1>
            </div>
        </div>
    </header>

    <section id="contact" class="grid">
        <div class="container bg-accent">
            <div class="section-heading">
                <h3 class="caption">Our contacts</h3>
            </div>

            <div class="contact-text">
                <div class="contact-text-options">
                    <div class="section-heading"><h2 class="sub-title">Call us</h2></div>
                    <div class="phone">
                        <p>0721 000 444</p>
                        <p>0714 444 000</p>
                        <p>0793 000 444</p>
                    </div>
                </div>

                <div class="contact-text-options">
                    <div class="section-heading"><h2 class="sub-title">Email us</h2></div>
                    <div class="email">
                        <p>info@solomons.com</p>
                        <p>solomonshoney@gmail.com</p>
                    </div>
                </div>

                <div class="contact-text-options">
                    <div class="section-heading"><h2 class="sub-title">Social Media</h2></div>
                    <div class="socials">
                        <i class="fab fa-whatsapp"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </div>
            </div>
        
    </section>

    <%- include('./partials/footer') %>

    <!--scripts-->
    <%- include('./partials/scripts'); %>
</body>
</html>