<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | FAQS</title>
</head>
<body>
    <header>
        <%- include('./partials/nav') %>
        <div class="grid">
            <div class="hero"></div>
        </div>
    </header>


    <footer class="grid">
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>