<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Solomons Honey | The best in town</title>
</head>
<body>
    <header class="bg">
        <%- include('./partials/nav') %>
        <div class="hero-grid grid">
            <div class="hero">
                <h1 class="title">Enjoy top quality honey<br>harvested from the finest combs of kenya<br>enim laudantium?</h1>
                <button class="btn cta">Place your order</button>
            </div>
        </div>
    </header>

    <section id="why-us" class="grid">
        <div class="water-mark">
            <h1 class="title">Solomons</h1>
            <h1 class="title">Solomons</h1>
            <h1 class="title">Solomons</h1>
        </div>
        <div class="container">
            <div class="banner-img"><img src="../public/assets/jar2.jpg" alt=""></div>

            <div class="why-us three-part">
                <div class="why">
                    <h2 class="sub-title">Quality</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate delectus est ad eaque odit quo doloremque voluptas consequuntur id.</p>
                </div>

                <div class="why">
                    <h2 class="sub-title">Value</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate delectus est ad eaque odit quo doloremque voluptas consequuntur id.</p>
                </div>

                <div class="why">
                    <h2 class="sub-title">Health</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate delectus est ad eaque odit quo doloremque voluptas consequuntur id.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="shop" class="full grid">
        <div class="container-full">
            
            <div class="two-part">
                <div class="banner-img"><img src="../public/assets/jars.jpg" alt=""></div>

                <div class="banner-txt bg-accent">
                    <div class="section-heading">
                        <h3 class="caption accent">Lorem Ipsum</h3>
                        <h2 class="sub-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, non!</h2>
                    </div>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nisi aspernatur ipsa veritatis. Atque, saepe fugit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt tempora odio rerum voluptas, at laboriosam voluptatibus esse odit commodi. Velit, blanditiis eveniet.</p>
                    <button class="btn cta2">Go to store</button>
                </div>
            </div>
        </div>
    </section>

    <section id="newsletter" class="grid">
        <div class="container">
            <div class="section-heading">
                <h3 class="caption">Lorem Ipsum</h3>
                <h2 class="sub-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, non!</h2>
            </div>
            <div class="newsletter-form">
                <form action="#" method="post">
                    <input type="email" class="newsletter-input" placeholder="Someone@gmail.com">
                    <button class="cta" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </section>

    <!--footer-->
    <%- include('./partials/footer') %>

    <!--scripts-->
    <%- include('./partials/scripts'); %>
</body>
</html>